<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Play Your Hand</title>
</head>
<body>
	<h1>Blackjack</h1>
	
	<h1>Player's Hand</h1>
	{{#game.hand.cards}}
		<div>{{ face }} of {{ suit }}</div>
	{{/game.hand.cards}}
	<div>You have {{game.hand.total}}</div>
	<h1>Dealer's Hand</h1>
	{{#game.dealer.cards}}
		<div>{{ face }} of {{ suit }}</div>
	{{/game.dealer.cards}}
	<div>Dealer {{game.dealer.total}}</div>

	<p>The deck has {{ game.deck.size }} cards</p>	
	<form action="/hit" method="post">

		<button>Hit Me</button>
	</form>

	<form action="/stand" method="post">

		<button>stand</button>

	</form>




</body>
</html>